
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


body{
	background-color: #0c0c0c;
	font-family: "Oxygen",sans-serif;
	font-weight: 400;
}

/*Classes para Trocar*/
	.first{
		display: none;
	}

	.second{
		display: none;
	}
	
			.container{
				max-width: 2100px;
				width: 100%;
				margin: auto;
				overflow: auto;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box; 
				font-family: "Oxygen",sans-serif;
			}
			
			.planoDeFundo{
				width: 50%;
				min-height: 768px;
				height: auto;
				background-color: #0c0c0c;
				top: 0;
				display: inline;
				float: left;
				
				background-attachment: fixed;
				background-size: cover;
				background-repeat: no-repeat;

			}

			.planoDeFundo :hover{
				cursor: pointer;
			}

			#first{
				background-image:url("http://i1248.photobucket.com/albums/hh490/Pollyanna_Cunha/Semti3010tulo-2_zps92097d81.png");
			}

			#second{
				background-image:url("http://i1248.photobucket.com/albums/hh490/Pollyanna_Cunha/Semti3010tulo-1_zps4839e4d6.png");
			}



			/**Estrutura do Site*/
			h1{
				display: block;
				text-align: center;
				font-size: 4em;
				width: auto;
				color: #ffffff;
				padding-top: 100px;
				text-shadow:0 0 10px rgba(0,0,0,0.7);
				font-family: "Oxygen",sans-serif;
				font-weight: 400;
			}

			.firstLineHeading{
				padding-top: 300px;
			}

			/*Menu*/
			.navbar{
				position: fixed;
				float: left;
				top: 0px;
				width: 100%;
				margin: auto;
				height: 100px;
				z-index: 100;
				overflow: hidden;
			}

			.nav{
				display: inline;
				margin: auto;
				width: 14.28%;
				font-size: 2em;
				text-align: center;
				color: #ffffff;
				padding-top: 10px;
			}

			p{
				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}

			a {
				color: #fff;
				text-decoration: none;

			}


			.projeto ,.p1, .p2{
				float: right;
			}

			.top_lisias{
				display: inline;
				margin: auto;
				width: 14.28%;
				float: left;
				padding-left: 20px;
				padding-top: 20px;

			}

			.top_lisias:hover{
				cursor: pointer;
			}

			/*Content*/
			#flor{
				display: block;
				position: absolute;
				
				width: 12%;
				height: auto;
				top: 50%;
				left: 45%;
				float: left;
				margin: auto;
			}

			#flor :hover{
				cursor: pointer;
			}

			/*Primeira parte - Conhecer*/			
			.description{
				float: left;
				text-align: center;
				padding:10px 12.55% 10px 12.55%;
				color:#ffffff;

				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}
			
			.intro{
				width: 100%;
				z-index: 50;
				text-align: center;
				padding: 20px;
				padding-top: 250px;
			}
			
			.secondLayer{
				background-color: #2D2045;
				-webkit-box-sizing:  3px 0px 0px 0px #ccc;
				-moz-box-sizing:  3px 0px 0px 0px #ccc;
				box-sizing:  3px 0px 0px 0px #ccc;
				clear: both;
				float: left;
				z-index: 2;				
			}
	
			.video{
				width: 100%;
				margin: auto;
				display: block;
			}
			
			.share{
				width: 44px;
				margin:5px 20px 0 0;
				float:right;
				display: block;
			}

			/*Galeria*/
			.relatos{
				top: 0px;
				width: 100%;
				background-color: #2D2045;
				clear: both;
			}
			.gallery{
				width: 100%;
				float: left;
				display: block;
				margin: auto;
			}

			.galleryItem{
				display: block;
				float: left;
				margin: auto;
				margin: 0% 3% 2% 3%;
				

			}
			/*DIVS da galeria*/
			.imgItem{
				display: block;
				width: 100%;
			}
			#repOne{
				background-color: #ffffff;
				border: 30px;
				}
			#repTwo{
				background-color: #ffffff;
				border: 30px;	
			}
			#repThree{
				background-color: #ffffff;
				border: 30px;	
			}
			#repFour{
				background-color: #ffffff;
				border: 30px;
			}
			#repFive{
				background-color: #ffffff;
				border: 30px;
			}
			#repSix{
				background-color: #ffffff;
				border: 30px;
			}
			#repSeven{
				background-color: #ffffff;
				border: 30px;
			}
			#repEight{
				background-color: #ffffff;
				border: 30px;	
			}

			.galleryItem p{
				display: none;
			}

			.galleryItem:hover p{
				display: block;
				position: absolute;
				top: 30%;
				font-size: 1.5em;
				font-weight: bold;
				z-index: 100;
				color: #ffffff;
				padding: 5%;
				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}

			.whoDid{
				display: block;
				margin: auto;
				left: 25%;
			}

			.collaborator{
				display: inline-block;
				position: relative;
				text-align: center;
				margin: 5%;
				width: 30%;
			}

			.left{
				float: left;
			}

			.right{
				float: right;
			}

			.colab_photo{
				width: 100%;
				border-radius: 100%;
			}

			/* PARTE 2 - TRANSFOME*/

			#second_noticias{
				height:800px;
				width: 100%;
				background-color: #0B0B3B;
			}

			#fotos_noticias{
				width: 20%;
				height: 20%;
	            position: left;
			}

			.leis{
				display: block;
				float: left;
				margin: auto;
			}

			.comunidade{
				display: block;
				float: right;
				margin: auto;
			}

			.ativismo{
				display: block;
				float: left;
				margin: auto;
			}

			.apoio{
				display: block;
				float: right;
				margin: auto;
			}

