
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


body{
	background-color: #0c0c0c;
	font-family: "Oxygen",sans-serif;
	font-weight: 400;
	color: #ffffff;
	overflow-x: hidden;
	overflow-y: scroll; 
}

#logo{
	display: block;
	width: 50%;
	padding-left: 15px;
}
/*Classes para Trocar*/
@media(min-width: 768px){	
	.first{
		display: none;
	}

	.second{
		display: none;
	}
}

@media(max-width: 1023px){	
	.first{
		display: block;
	}

	.second{
		display: block;
	}
}
@media(min-width:1024px){
	.flor{
		display: block;
		position: fixed;

		height: auto;
		background-color:#ffffff;
		opacity: 0.5;
		border-radius: 100%;
		padding: 20px;
		top: 50%;
		z-index: 100;
	}
}
@media(max-width:1023px){
	.flor{
		display: none;
	}

	#first_footer{
		display: none;
	}

	
}
	
			.container-fluid{
				padding: 0px;
			}
			@media(min-width: 768px){
				.planoDeFundo{
					width: 50%;
					display: inline;
					float: left;
				}
			}

			@media(max-width: 1023px){
				.planoDeFundo{
					width: 100%;
					display: block;
					float: left;
				}
			}
			.planoDeFundo{
				min-height: 2000px;
				height: auto;
				background-color: #0c0c0c;
				top: 0;
				padding: 0px;

				
				background-attachment: fixed;
				background-size: cover;
				background-repeat: no-repeat;

			}

			.planoDeFundo :hover{
				cursor: pointer;
			}

			#first{
				background-image:url("images/principal_conheca.jpg");

			}

			#second{
				background-image:url("images/principal_transforme.jpg");
			}



			/**Estrutura do Site*/
			.videoWrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;
			}
			.videoWrapper iframe {
				position: absolute;
				top: 0;
				left: 12.5%;
				width: 75%;
				height: 75%;
			}

			h1{
				display: block;
				text-align: center;
				font-size: 4em;
				width: auto;
				padding-top: 100px;
				text-shadow:0 0 10px rgba(0,0,0,0.7);
				font-family: "Oxygen",sans-serif;
				font-weight: 400;
			}

			.firstLineHeading{
				padding-top: 300px;
			}

			/*Menu*/
			/*.navbar{
				position: fixed;
				float: left;
				top: 0px;
				width: 100%;
				margin: auto;
				height: 100px;
				z-index: 100;
				overflow: hidden;
			}

			.nav{
				display: inline;
				margin: auto;
				width: 14.28%;
				font-size: 2em;
				text-align: center;
				color: #ffffff;
				padding-top: 10px;
			}*/

			p{
				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}

			a {
				color: #fff;
				text-decoration: none;

			}


			.projeto ,.p1, .p2{
				float: left;
			}

			/*.top_lisias{
				display: inline;
				margin: auto;
				width: 14.28%;
				float: left;
				padding-left: 20px;
				padding-top: 20px;

			}

			.top_lisias:hover{
				cursor: pointer;
			}*/

			/*Content*/
			#flor{
				display: block;
				position: absolute;
				
				width: 12%;
				height: auto;
				top: 50%;
				left: 45%;
				float: left;
				margin: auto;
			}

			#flor :hover{
				cursor: pointer;
			}

			/*Primeira parte - Conhecer*/			
			.description{
				
				padding:10px 12.55% 10px 12.55%;
				color:#ffffff;
				line-height: 1.5em;


				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}
			
			.intro{
				width: 100%;
				z-index: 50;
				text-align: center;
				padding: 20px;
				padding-top: 15%;
			}
			
			.secondLayer{
				-webkit-box-sizing:  3px 0px 0px 0px #ccc;
				-moz-box-sizing:  3px 0px 0px 0px #ccc;
				box-sizing:  3px 0px 0px 0px #ccc;
				clear: both;
				float: left;
				z-index: 2;				
			}
			/*#cotidiano_video{
				width: 100%;
				margin: auto;
				display: block;
			}*/
			

			/*.share{
				width: 44px;
				margin:5px 20px 0 0;
				float:right;
				display: block;
			}*/

			/*Galeria*/
			.relatos{
				top: 0px;
				/*width: 100%;*/
				clear: both;
			}
			/*.gallery{
				width: 100%;
				float: left;
				display: block;
				margin: auto;
			}

			.galleryItem{
				display: block;
				float: left;
				margin: auto;
				margin: 0% 3% 2% 3%;
				

			}*/
			/*DIVS da galeria*/
			.imgItem{
				display: block;
				width: 100%;
				padding-bottom: 30px;
			}
			

			.galleryItem p{
				display: none;
			}

			.galleryItem:hover p{
				display: block;
				position: absolute;
				top: 10%;
				font-size: 1.3em;
				font-weight: bold;
				z-index: 100;
				color: #ffffff;
				padding: 5%;
				text-shadow:0 0 10px rgba(0,0,0,0.7);
				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}

			/*.collaborator{
				display: inline-block;
				position: relative;
				text-align: center;
				margin: 5%;
				width: 30%;
			}*/

			.colab_photo{
				width: 100%;
				border-radius: 100%;
			}
			#nomes{
				text-align: center;
			}

			.logos{
				width: 30%;
				float: center;

			}

			#footer{
				background-color: #0c0c0c;
				margin-top: 50px;
				text-shadow:0 0 10px rgba(0,0,0,0.7);
			}

			/* PARTE 2 - TRANSFOME*/

			

			#fotos_noticias{
				width: 20%;
				height: 20%;
	            position: left;
			}

			.leis{
				display: block;
				float: left;
				margin: auto;
			}

			.comunidade{
				display: block;
				float: right;
				margin: auto;
			}

			.ativismo{
				display: block;
				float: left;
				margin: auto;
			}

			.apoio{
				display: block;
				float: right;
				margin: auto;
			}

