
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


body{
	background-color: #0c0c0c;
	font-family: "Oxygen",sans-serif;
	font-weight: 400;
}

/*Classes para Trocar*/
	.hide{
		display: none;
	}

	.show{
		display: block;
	}
	
			.container{
				max-width: 2100px;
				width: 100%;
				margin: auto;
				overflow: auto;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box; 
				font-family: "Oxygen",sans-serif;
			}
			
			.planoDeFundo{
				width: 50%;
				min-height: 10000px;
				height: auto;
				background-color: #0c0c0c;
				top: 0;
				display: inline;
				float: left;
				
				background-attachment: fixed;
				background-size: cover;
				background-repeat: no-repeat;

			}

			.planoDeFundo :hover{
				cursor: pointer;
			}

			#first{
				background-image:url("http://i1248.photobucket.com/albums/hh490/Pollyanna_Cunha/Semti3010tulo-2_zps92097d81.png");
			}

			#second{
				background-image:url("http://i1248.photobucket.com/albums/hh490/Pollyanna_Cunha/Semti3010tulo-1_zps4839e4d6.png");
			}



			/**Estrutura do Site*/
			h1{
				display: block;
				text-align: center;
				font-size: 4em;
				width: auto;
				color: #ffffff;
				text-shadow:0 0 10px rgba(0,0,0,0.7);
				padding-top: 300px;
				font-family: "Oxygen",sans-serif;
				font-weight: 400;
			}

			/*Menu*/
			.navbar{
				position: fixed;
				float: left;
				top: 0px;
				width: 100%;
				margin: auto;
				height: 100px;
				z-index: 100;
				overflow: hidden;
			}

			.nav{
				display: inline;
				margin: auto;
				width: 14.28%;
				font-size: 2em;
				text-align: center;
				color: #ffffff;
				padding-top: 10px;
			}

			p{
				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}

			.projeto ,.p1{
				float: right;
			}

			.top_lisias{
				display: inline;
				margin: auto;
				width: 14.28%;
				float: left;
				padding-left: 20px;
				padding-top: 20px;

			}

			.top_lisias:hover{
				cursor: pointer;
			}

			/*Content*/
			#flor{
				display: block;
				position: absolute;
				
				width: 12%;
				height: auto;
				top: 50%;
				left: 45%;
				float: left;
				margin: auto;
			}

			#flor :hover{
				cursor: pointer;
			}

			.hidden_first{
				display:none;
			}
			
			.description{
				text-align: center;
				padding:10px 12.55% 10px 12.55%;
				color:#ffffff;

				-webkit-box-sizing:  3px 3px 5px 6px #ccc;
				-moz-box-sizing:  3px 3px 5px 6px #ccc;
				box-sizing:  3px 3px 5px 6px #ccc;
			}
			
			#first_intro{
				display:none;
				}
			
			/*Primeira Parte - Conheça*/
			.intro{
				width: 100%;
				z-index: 50;
				text-align: center;
				padding: 20px;
				padding-top: 250px;
			}

			#second_intro{
				display:none;
				}
			
			.video{
				background-color: #2D2045;
				-webkit-box-sizing:  3px 0px 0px 0px #ccc;
				-moz-box-sizing:  3px 0px 0px 0px #ccc;
				box-sizing:  3px 0px 0px 0px #ccc;
				
			}
	
			#cotidiano_video{
				width: 75%;
				margin: auto;
				display: block;
			}
			
			.share{
				min-width: 44px;
				width:5%;
				float:right;
			}